<p>Welcome to SAFPROJ2!</p>

<p>You should look around for a while... You can look through the library above, and just start shopping!</p>

<p>We recommend that you sign up / login for the best experience with us. Enjoy your stay.</p>

<% u = User.where(:id => session[:user_id]).first %>
<% if u != nil && u.admin %>
<p>View the <a href="/admin/items">admin</a> page.</p>
<p>View the <a href="/admin/orders">orders</a> page.</p>
<% end %>